<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新建字段</title>
		<link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/plugins/bootstrap-fileinput/css/fileinput.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../res/css/workset/create_field.css"/>
		<link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.css">
	</head>
	<body>
		<div id="app" class="wrapper">
			<div class="tab-pane fade in active" id="普通区">
				<form action="#" id="form2" class="form-horizontal">
					<div class="form-group"></div>
					<div class="form-group">
						<label for="name2" class="control-label col-md-2">字段名称</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="name2" name="name" v-model="column.name" placeholder="请输入字段名称" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="chinese2" class="control-label col-md-2">中文名称</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="chinese2" name="chinese" v-model="column.chinese" placeholder="请输入中文名称" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="formula2" class="col-md-2 control-label">编辑字段</label>
						<div class="col-md-8">
							<textarea class="form-control" name="formula" id="formula2"
							 cols="20" rows="5" v-model="formula"
							  placeholder="编辑公式" @keydown="input($event)" @keypress="input2($event)" ></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-md-offset-2">
							<button type="button" class="btn btn-primary" data-target="#addField" data-toggle="modal">添加已有字段</button>
							<span>{{getFormula()}}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="remask2" class="control-label col-md-2">描述</label>
						<div class="col-md-8">
							<textarea class="form-control" name="remask" id="remask2" cols="20" rows="5" v-model="column.remask" placeholder="请输入后字段描述信息" ></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button type="button" class="btn btn-primary" @click="save()">保存</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		
		
		<div class="modal fade" id="uploadModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">文件上传</h3>
					</div>
					<div class="modal-body">
						<input type="file" name="file" id="file" value=""  class="file-loading" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="addField">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">添加字段</h3>
					</div>
					<div class="modal-body">
						<form action="#" class="form-horizontal">
							<div class="form-group">
								<label for="" class="control-label col-xs-3">选择数据表</label>
								<div class="col-xs-7">
									<select name="" id="" class="form-control" @change="getField($event)">
										<option value="">请选择数据表</option>
										<option :value="table.id" v-for="table in tables" 
										v-html="table.chinese?table.chinese:table.name"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="control-label col-xs-3">选择字段</label>
								<div class="col-xs-7">
									<select class="form-control" name="" id="" class="control-label" v-model="columnIndex">
										<option :value="index" v-for="(field,index) in columns" v-html="field.chinese?field.chinese:field.name"></option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" @click="confirm()">确定</button>
						<button class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../static/plugins/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/plugins/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/plugins/bootstrap/plugins/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/plugins/bootstrap/plugins/bootstrap-fileinput/js/zh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/my-global.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="../res/js/my-tree.js" type="text/javascript" charset="utf-8"></script> -->
		<script src="../res/js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/workset/addcolumn.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function () {
				$("#file").fileinput({
					language : 'zh',
					uploadUrl : basePath + "file/upload",
					allowedFileExtensions : ['txt'],
					showUpload : true,
					showCaption : true,
					browseClass : "btn btn-primary",
					dropZoneEnabled : true,
					maxFileCount : 10,
					maxFileSize : 1024 * 100,
					enctype: 'multipart/form-data',
					validateInitialCount:true,
					previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
					msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
				})
				$("#file").on("fileuploaded",function(event, data, previewId, index){
					let res = data.response;
					vue.$emit("fileInfo",res)
					$("#file").modal("hide")
				})
			});
		</script>
	</body>
</html>
<!-- 
 		
 <form class="layui-form layui-col-sm8 layui-col-md6  layui-col-sm-offset2 layui-col-md-offset3" action="#" method="">
 	<div id="" class="layui-form-item">
 		<div class="layui-inline">
 			<label class="layui-form-label" for="columnName">名称</label>
 			<div class="layui-input-inline">
 				<input class="layui-input" type="text" name="columnName" id="columnName" v-model="column.name" />
 			</div>
 		</div>
 		<div class="layui-inline">
 			<label class="layui-form-label" for="chinese">中文名称</label>
 			<div class="layui-input-inline">
 				<input class="layui-input" type="text" name="chinese" id="chinese" v-model="column.chinese" />
 			</div>
 		</div>
 	</div>
 	<div class="layui-form-item">
 		<label class="layui-form-label">数据类型</label>
 		<div class="layui-input-block">
 			<input type="radio" name="sex" value="Number" title="Number" lay-filter='typeName' v-model="column.typeName">
 			<input type="radio" name="sex" value="String" title="String" lay-filter='typeName' v-model="column.typeName" >
 			<input type="radio" name="sex" value="date" title="date" lay-filter='typeName' v-model="column.typeName">
 		</div>
 	</div>
 	<div class="layui-form-item">
 		<label class="layui-form-label">字段公式</label>
 		<div class="layui-input-block">
 			<input class="layui-input" type="text" name="" id="formal" v-model="column.formula"/>
 			<div id="" class="layui-row layui-col-space15">
 				<div class="layui-col-md6 layui-col-sm6">
 					<table class="keybord layui-table" @click="input($event)">
 						<tr><td>(</td><td>)</td><td colspan="2">DEL</td></tr>
 						<tr>
 							<td>7</td><td>8</td><td>9</td><td>+</td>
 						</tr>
 						<tr>
 							<td>4</td><td>5</td><td>6</td><td>-</td>
 						</tr>
 						<tr>
 							<td>1</td><td>2</td><td>3</td><td>*</td>
 						</tr>
 						<tr>
 							<td colspan="2">0</td><td>.</td><td>/</td>
 						</tr>
 					</table>
 				</div>
 				<div class="layui-col-sm6 layui-col-md6">
 					<div class="tab-list-wrapper">
 						<div class="layui-form-item">
 							<label class="layui-form-label">业务包</label>
 							<div class="layui-input-block">
 								<select lay-filter="pkgfilter">
 									<option v-for="pkg in pkgs" v-html="pkg.chinese?pkg.chinese:pkg.name" :value="pkg.id" :selected="pkg.id==curPkg.id"></option>
 								</select>
 							</div>
 						</div>
 						<div class="layui-form-item">
 							<label class="layui-form-label">数据表</label>
 							<div class="layui-input-block">
 								<select lay-filter="tablefilter">
 									<option v-for="table in curPkg.tables" :value ="table.id" v-html="table.chinese?table.chinese:table.name" :selected="table.id==curTable.id"></option>
 								</select>
 							</div>
 						</div>
 						<div class="layui-form-item">
 							<label class="layui-form-label">数据字段</label>
 							<div class="layui-input-block">
 								<select lay-filter="columnfilter">
 									<option v-for="column in curTable.columns" :value ="column.id" v-html="column.chinese?column.chinese:column.name"></option>
 								</select>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			
 		</div>
 	</div>
 	<div class="layui-form-item">
 		<label class="layui-form-label">备注</label>
 		<div class="layui-input-block">
 			<textarea rows="" class="layui-textarea" cols="" v-model="column.remask">
 				
 			</textarea>
 		</div>
 	</div>
 	<div id="" class="layui-form-item">
 		<label class="layui-form-label"></label>
 		<div class="layui-input-inline">
 			<button type="button" class="layui-btn layui-btn-primary" @click="add($event)">添加</button>
 		</div>
 	</div>
 </form>
 	
 -->