<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dat.mapper.UserMapper">
	<sql id="columns">
		id,username,password,salt
	</sql>
	<insert id="insert" parameterType="dat.pojo.UserBean">
		insert into t_user (ID,username,password,salt) values(#{id},#{username},#{password},#{salt})
	</insert>
	<select id="findById" resultType="dat.pojo.UserBean">
		select id,username,password,salt from t_user where id=#{id}
	</select>
	<select id="findByUsername" resultType="dat.pojo.UserBean">
		select id,username,password,salt from t_user where username=#{username}
	</select>
	<select id="listAll" resultType="dat.pojo.UserBean">
		select <include refid="columns"/> from t_user
	</select>
	<select id="selectByFilter" resultType="dat.pojo.UserBean">
		select <include refid="columns"/> from t_user
		<if test="_parameter != null">
			where id like #{_parameter} or username like #{_parameter} 
		</if>
	</select>
	
	<update id="updateById" parameterType="dat.pojo.UserBean">
		update t_user set username=#{username},password=#{password},salt=#{salt} where id=#{id}
	</update>
	<delete id="deleteById">
		delete from t_user where id=#{id}
	</delete>
	
</mapper>