<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
		<style type="text/css">
			.wrapper{
				box-sizing: border-box;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
			.wrapper .layui-row,
			.wrapper .layui-row>div.layui-col-md8,
			.wrapper .layui-row>div .layui-card{
				height: 100%;
				overflow-y: auto;
			}
			.layui-card{
				margin-left: 5px;
				margin-right: 5px;
			}
			.layui-table > tr > td > div.layui-input-block{
				min-height: initial;
			}
			.layui-table > tr > td > div.layui-input-block > input.layui-input{
				box-sizing: border-box;
			}
			
			.edit-ceil{
				padding: 0 !important;
				box-sizing: border-box;
			}
			.edit-ceil div{
				height: 100%;
			}
			.layui-icon{
				padding-left: 10px;
				cursor: pointer;
			}
			.layui-icon:hover{
				color: #01AAED;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="layui-container wrapper"  style="padding: 10px; background-color: ;">
				<div class="layui-row">
					<!-- 树形菜单栏 -->
					<div class="layui-col-md4" >
						<div class="layui-card" >
							<div class="layui-card-header"><h3>系统菜单</h3></div>
							<div class="layui-card-body">
								<ul id="myTree"></ul>
							</div>
					    </div>
					</div>
					
					<div class="layui-col-md8">
						<div class="layui-card" v-if="menu">
							<div class="layui-card-header">
								<h3>
									<span v-html='menu.text'></span>
									<i class="layui-icon" style="float: right;" title="删除" @click="remove(menu,$event)">&#xe640;</i>
									<i class="layui-icon" style="float: right;" title="添加" @click="toAdd($event)">&#xe654;</i>
									<i class="layui-icon" style="float: right;" title="修改" @click="toUpdate(menu,$event)">&#xe642;</i>
								</h3>
							</div>
							<div class="layui-card-body">
								<!-- 显示 -->
								<table class="layui-table" lay-even >
									<colgroup>
										<col width="200">
										<col />
									</colgroup>
									<thead>
										<tr><th>属性</th><th>值</th></tr>
									</thead>
									<tr>
										<td>菜单编号(id)</td>
										<td v-html="menu.id"></td>
									</tr>
									<tr>
										<td>菜单名(text)</td>
										<td v-html="menu.text"></td>
									</tr>
									<tr>
										<td>连接(link)</td>
										<td v-html="menu.link"></td>
									</tr>
									<tr>
										<td>指针提示(title)</td>
										<td v-html="menu.title"></td>
									</tr>
									<tr>
										<td>样式(cssclass)</td>
										<td v-html="menu.cssclass"><i ></i></td>
									</tr>
									<tr>
										<td>图标(icon)</td>
										<td v-html="menu.icon"></td>
									</tr>
									<tr>
										<td>父菜单(parent)</td>
										<td v-html="menu.father ? menu.father.text : ''"></td>
									</tr>
								</table><!-- 显示 end -->
							</div>
						</div>
					</div>
					
				</div>	
			</div>
		</div>
		<div id="menuform"style="display: none;padding: 5px 15px;">
			<form class="layui-form"  action="#" method="">
				<div class="layui-form-item">
					<label class="layui-form-label" for="mText">菜单名称</label>
					<div class="layui-input-block">
						<input class="layui-input" type="text" name="mText" id="mText"
						v-model="menu.text" placeholder="请输入菜单名称" />
					</div>
				</div>
				<div class="layui-form-item">
					<label for="mLink" class="layui-form-label">链接地址</label>
					<div class="layui-input-block">
						<input type="text" name="mLink" id="mLink" value="" 
						v-model="menu.link" placeholder="请输入链接地址" class="layui-input"/>
					</div>
				</div>
				<div class="layui-form-item">
					<label for="mTitle" class="layui-form-label">指针提示</label>
					<div class="layui-input-block">
						<input type="text" name="mTitle" id="mTitle" value="" 
						v-model="menu.title" class="layui-input" placeholder="请输入后指针提示" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" for="mIcon">图标</label>
					<div class="layui-input-block">
						<input type="text" name="mIcon" id="mIcon" value="" @click="chooseIcon('icon')"
						v-model="menu.icon" placeholder="请选择菜单首部图标" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<label for="cssclass" class="layui-form-label">尾部图标</label>
					<div class="layui-input-block">
						<input type="text" name="cssclass" id="cssclass" value="" @click="chooseIcon('cssclass')"
						v-model="menu.cssclass" placeholder="请选择尾部图标" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<label for="parent" class="layui-form-label">父菜单{{menu.parent}}</label>
					<div class="layui-input-inline">
						<select name="parent" class="layui-form-select" v-model="menu.parent" lay-filter="parent" >
							<option value="">无</option>
							<option v-for="(item,index) in lst" v-if="item.id != menu.id" 
							v-html="item.text" :value="item.id"></option>
						</select>
					</div>
				</div>
			</form>
		
		</div>
	
		<script src="../assets/js/basepath.js"text/javascript" charset="utf-8"></script>
		<script src="../assets/js/vue.min.js"text/javascript" charset="utf-8"></script>
		<script src="../assets/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../res/js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../res/js/my-global.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../res/js/setting/menu.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>