<!DOCTYPE html>
<html>
	<head>
		<title>用户管理</title>
		<link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../static/plugins/iview/iview.css"/>
	</head>
	<body>
		<div class="container" id="app">
			<div class="">
				<div class="form-group">
				</div>
				<form class="form-inline" action="#" method="post">
					<div class="form-group">
						<label class="control-label sr-only" for="searchKey">用户名</label>
						<input class="form-control" type="text" name="keywork" id="keywork"
						 v-model="page.keyword" placeholder="搜索" @change="getPages(page)" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" @click="getPages(page)">搜索</button>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" @click="addUser()">添加用户</button>
					</div>
				</form>
				<div class="form-group">
				</div>
				<!-- <table class="table table-striped">
					<tr>
						<th>编号</th><th>用户名</th><th>添加时间</th><th>角色</th><th>操作</th>
					</tr>
					<tr v-for="(user,index) in users">
						<td v-html="index+1 + (page.curPage - 1) * page.pageSize"></td>
						<td v-html="user.username"></td>
						<td v-html="getTime(user.createTime)"></td>
						<td v-html="getRole(user.role)"></td>
						<td>
							<div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
									操作<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ><a href="javascript:void(0);" @click="remove(user,$event)">删除</a></li>
									<li><a href="javascript:void(0);" @click="edit(user,$event)">修改</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</table> -->
				<i-table :columns="columns" :data="users" ></i-table>
				<Page :total="page.totalCount"  show-elevator
				 show-sizer show-total :page-size="page.pageSize"
				  :page-size-opts="[5,10,15,20,25]" @on-change="pageChange" @on-page-size-change="sizeChange" />
			</div>
			<ul id="page">
			</ul>
		</div>
		<div class="modal fade" id="addDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" v-html="title">添加用户</h4>
					</div>
					<div class="modal-body">
						<form id="addform" action="#" method="post" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-md-2" for="username">用户名</label>
								<div class="col-md-8">
									<input type="text"class="form-control" id="username" name="username"
									 v-model="user.username" placeholder="请输入用户名" autocomplete="off" v-bind:readonly="user.id" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">用户角色</label>
								<div class="col-md-8">
									<select class="form-control" v-model="user.role">
										<option value ="1">浏览用户</option>
										<option value ="2">业务人员</option>
										<option value ="3">管理员</option>
									</select>
								</div>
							</div>
							<template v-if="!user.id">
								<div class="form-group">
									<label class="control-label col-md-2">密码</label>
									<div class="col-md-8">
										<input type="password" class="form-control" name="password" id="password"
										 v-model="user.password" placeholder="请输入密码" autocomplete="off" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="repassword">确认密码</label>
									<div class="col-md-8">
										<input type="password" name="repassword" id="repassword" class="form-control" v-model="user.repassword" placeholder="请输入确认密码" />
									</div>
								</div>
							</template>
							<!-- <input type="submit" value=""/> -->
						</form>
					</div>
					<div class="modal-footer">
						<div class="btn-group btn-sm">
							<button type="button" class="btn btn-primary" @click="submitForm()">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../static/plugins/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/plugins/bootstrap/plugins/bootstrap-paginator/bootstrap-paginator.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/plugins/bootstrap/plugins/bootstrap-paginator/bootstrap-paginator-ext.js" type="text/javascript" charset="utf-8"></script>
	<script src="../res/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../res/js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script src="../res/js/my-global.js" type="text/javascript" charset="utf-8"></script>
	<script src="../res/js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/plugins/layui/lay/modules/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/plugins/iview/iview.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		Vue.http.options.withCredentials=true
		Vue.http.options.emulateJSON=true
		new Vue({
			el : "#app",
			data : function() {
				return {
					columns : [
						{
							title : "编号",
							key : "id",
							fixed: 'left',
							tooltip : true
						},{
							title : "用户名",
							key : "username",
							tooltip : true
						},{
							title : "添加时间",
							key : "time",
							tooltip : true
						},{
							title : "用户角色",
							key : "roleName",
							tooltip : true
						},{
							title : "操作",
							key : "",
							render : (h,params) =>{
								return h('div',[
									h('Button',{
										props : {
											type : 'primary',
											size : 'small'
										},
										on : {
											click : () => {
												this.modify(params.row,params.index)
											}
										},
										style : {
											marginRight : "5px"
										}
									},'修改'),
									h('Button',{
										props : {
											type : 'error',
											size : 'small'
										}
									},'删除')
								])
							},
							fixed : 'right'
						}
					],
					users : [],
					page : {
						curPage : 1,
						pageSize : 5,
						totalCount : 0,
						totalPage : 1,
						keyword : null
					}
				}
			},
			created : function(){
				this.getPages(this.page)
			},
			methods : {
				getPages : function(page){
					this.$http.get(basePath+"user/page",{params:page}).then(function(res){
						if(res.body.code == 1){
							doUsers(res.body.data.content)
							this.users = res.body.data.content
							this.page.curPage = res.body.data.number+1
							this.page.pageSize = res.body.data.size
							this.page.totalCount = res.body.data.totalElements
							this.page.totalPage = res.body.data.totalPages
							console.log(this.page)
						}
					})
				},
				modify : function(row,index){
					this.$Message.info(JSON.stringify(row))
				},
				pageChange : function(curr){
					this.page.curPage = curr
					this.getPages(this.page)
				},
				sizeChange : function(size){
					this.page.pageSize = size
					this.getPages(this.page)
				}
			}
		})
		
		function doUsers(users){
			let roles = new Array("浏览用户","业务人员","管理员")
			for(let i in users){
				users[i].roleName = roles[users[i].role-1]
				users[i].time = new Date(Date.parse(users[i].createTime)).toLocaleDateString()
			}
		}
		
// 		let vue = new Vue({
// 			el :"#app",
// 			data : {
// 				users : [],
// 				page : {
// 					curPage : 1,
// 					pageSize : 5,
// 					totalCount : 0,
// 					totalPage : 1,
// 					keyword : ""
// 				}
// 			},
// 			created : function(){
// 				this.getPages(this.page)
// 			},
// 			methods : {
// 				getPages : function(page){
// 					this.$http.get(basePath+"user/page",{params:page}).then(function(res){
// 						if(res.body.code == 1){
// 							this.users = res.body.data.content
// 							this.page.curPage = res.body.data.number+1
// 							this.page.pageSize = res.body.data.size
// 							this.page.totalCount = res.body.data.totalElements
// 							this.page.totalPage = res.body.data.totalPages
// 							this.renderPage()
// 						}
// 					})
// 				},
// 				renderPage : function(){
// 					let dom = this.$el.querySelector("#page")
// 					$(dom).bootstrapPaginator({
// 						bootstrapMajorVersion : 3,
// 						currentPage : this.page.curPage, 
// 						totalPages : this.page.totalPage,
// 						numberOfPages : 5,
// 						itemTexts: function (type, page, current) {
// 						    switch (type) {
// 						        case "first":
// 						            return "首页";
// 						        case "prev":
// 						            return "上一页";
// 						        case "next":
// 						            return "下一页";
// 						        case "last":
// 						            return "末页";
// 						        case "page":
// 						            return page;
// 						    }
// 						},
// 						"onPageClicked" : (event, originalEvent, type, page)=>{
// 							this.page.curPage = page
// 							this.getPages(this.page)
// 						},
// 					});
// 				},
// 				remove : function(user,event){
// 					if(confirm("您确定要删除该用户吗？"))
// 					this.$http.delete(basePath+"user/"+user.id).then(function(res){
// 						if(res.body.code == 1){
// 							alert(res.body.message)
// 							this.$emit("refresh")
// 						}
// 					})
// 				},
// 				addUser : function(){
// 					dialog.$emit("add",{})
// 				},
// 				edit : function(user,event){
// 					dialog.$emit("edit",user)
// 				},
// 				getRole : function(index){
// 					if(index != undefined && index != null){
// 						let a = ["浏览用户","业务人员","管理员"]
// 						return a[index-1]
// 					}
// 					return "未定义"
// 				},
// 				getTime : function(timestr){
// 					return new Date(Date.parse(timestr)).toLocaleDateString()
// 				}
// 			},
// 			mounted : function(){
// 				
// 			},
// 			filters : {
// 				getRole : function(value){
// 					console.log("getRole",value)
// 					return "管理员"
// 				}
// 			}
// 		
// 		})
		
// 		vue.$on("refresh",function(){
// 			this.getPages(this.page)
// 		})
// 		
		let options = {
			rules : {
				username : {required: true},
				password : {required : true},
				repassword : {equalTo : "#password"},
				role : {required : true}
			},
			messages : {
				username : {required:"请输入用户名"},
				password : {required:"请输入密码"},
				repassword : {equalTo : "两次密码输入不一致"},
				role : {required:"请选择用户"}
			},
			errorPlacement : function(error,element){
				error.css("color","red").insertAfter(element)
			}
		}
		
		let dialog = new Vue({
			el :"#addDialog",
			data : {
				user : {},
				title : "添加用户"
			},
			methods : {
				submitForm : function(){
					if($("#addform").valid()){
						this.$http.post(basePath+"user/add",tile(this.user)).then(function(res){
							if(res.body.code == 1){
								vue.$emit("refresh")
								this.user = {}
								$("#addDialog").modal("hide")
							}else{
								alert(res.body.message)
							}
						})
					}
				}
			},
			mounted : function(){
				let form = this.$el.querySelector("form")
				$(form).validate(options)
			}
		})
		dialog.$on("add",function(user){
			this.user = user
			this.title = "添加用户"
			$("#addDialog").modal("show")
		})
		dialog.$on("edit",function(user){
			this.user = user
			this.title = "修改用户"
			$("#addDialog").modal("show")
		})
	</script>
</html>
<!-- 
  queryUser();
 function queryUser() {
        $.ajax({
            async: true,
            type: "post",
            url: "UI_selectUser.action",//向后台发送请求，后台为stuts2框架
            dataType: "json",
            data: {page:'1'},
            cache: false,
            success: function(data) {
                var result = JSON.parse(data.json_data);   //data.json_data为后台返回的JSON字符串，这里需要将其转换为JSON对象
 
 
                tbody="<tr style='background:#fff;'><th >用户名</th><th>姓名</th>" +
                    "<th >角色</th><th>职务</th><th>联系方式</th></tr>";
                for (var i = 0; i <result.list.length; i++) {//拼接对应<th>需要的值
                    var trs = "";
                    trs+='<tr ><td >' + result.list[i].USERCODE
                        + '</td><td >' + result.list[i].REALNAME
                        + '</td><td >' + result.list[i].ROLEID
                        + '</td><td>' + result.list[i].ROLENAME
                        + '</td><td>' + ""
                        +'</td></tr>';
                    tbody+=trs;
                };
                $("#userTable").html(tbody);
 
                var currentPage = result.CurrentPage; //当前页数
                var pageCount = result.pageCount; //总页数
                var options = {
                    bootstrapMajorVersion: 3, //版本
 
                    currentPage: currentPage, //当前页数
 
                    totalPages: pageCount, //总页数
 
                    numberOfPages: 5,
                    shouldShowPage:true,//是否显示该按钮
 
                    itemTexts: function (type, page, current) {
                        switch (type) {
                            case "first":
                                return "首页";
                            case "prev":
                                return "上一页";
                            case "next":
                                return "下一页";
                            case "last":
                                return "末页";
                            case "page":
                                return page;
                        }
                    },//点击事件，用于通过Ajax来刷新整个list列表
                    onPageClicked: function (event, originalEvent, type, page) {
                        $.ajax({
                            async: true,
                            url: "UI_selectUser.action",
                            type: "post",
                            dataType : "json",
                            data: {page:page},
                            cache: false,
                            success: function (data) {
                                var result = JSON.parse(data.msg);
 
                                tbody="<tr style='background:#fff;'><th >用户名</th>                                <th>姓名</th>" +
                                    "<th >角色</th><th>职务</th><th>联系方式</th></tr>";
                                for (var i = 0; i <result.list.length; i++) {
 
                                    var trs = "";
                                    trs+='<tr ><td >'+ result.list[i].USERCODE
                                        + '</td><td >' + result.list[i].REALNAME
                                        + '</td><td >' + result.list[i].ROLEID
                                        + '</td><td>' + result.list[i].ROLENAME
                                        + '</td><td>' + ""
                                        +'</td></tr>';
                                    tbody+=trs;
 
                                };
                                $("#userTable").html(tbody);
 
                            }/*success*/
                        });
 
                    }
 
                };
                $('#useroption').bootstrapPaginator(options);
            }/*success*/
 
        });
    }
 
 -->